@import '~@angular/material/theming';

@import 'constants';

$app-primary: mat-palette($mat-amber);
$app-accent: mat-palette($mat-brown);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
