// COLOR PALETTE
$green: #09aa0f;
$yellow: #cccb27;
$brightred: #dd0031;
$darkred: #c3002f;
$white: #ffffff;
$offwhite: #fafafa;
$lightgray: #dbdbdb;
$mist: #eceff1;
$mediumgray: #6e6e6e;
$darkgray: #333;
$black: #0a1014;
$orange: #ff9800;
