@use '~@angular/material' as mat;
@import 'theme-config';

$background-color: #f3f3f4;

$primary: mat.define-palette(mat.$purple-palette, 800);
$accent: mat.define-palette(mat.$amber-palette);
$warn: mat.define-palette(mat.$red-palette);
$theme: map_merge(
  mat.define-light-theme($primary, $accent, $warn),
  (
    background:
      map_merge(
        mat.$light-theme-background-palette,
        (
          background: $background-color,
        )
      ),
  )
);

@include mat.all-component-themes($theme);
@include eamx-components-theme($theme);
@include app-theme($theme);
