<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>

  <a class="nav-title nav-link" routerLink="/" *ngIf="isSideBySide">
    Enterprise Administration & Management
  </a>
  <span class="nav-sub-title" *ngIf="isSideBySide">
    {{ viewTitle$ | async }}
  </span>

  <div class="flex-spacer"></div>

  <logged-in-user-menu></logged-in-user-menu>
</mat-toolbar>

<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    #sidenav
    class="app-sidenav"
    [opened]="isSidenavOpen$ | async"
    [mode]="mode"
  >
    <eamx-nav-menu
      class="nav-menu"
      [nodes]="sideNavNodes$ | async"
      [currentNode]="currentSideNavNode$ | async"
    ></eamx-nav-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet class="root-router-outlet" #o="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
