.mat-sidenav.sidenav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  min-width: 260px;
  background-color: $offwhite;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 64px);

  &.collapsed {
    top: 56px;
  }
}

.nav-menu {
  margin-top: 16px;
}

.vertical-menu-item {
  color: $darkgray;

  &:hover {
    background-color: $lightgray;
    color: mat-color($app-primary, 800);
    text-shadow: 0 0 5px $white;
  }

  &:focus {
    outline: mat-color($app-primary, 800) auto 2px;
  }
}

.vertical-menu-item.selected {
  color: mat-color($app-primary, 800);
}

.heading {
  color: $darkgray;
}

.level-1 {
  font-family: $main-font;
}

.level-2 {
  color: $mediumgray;
  font-family: $main-font;
}

.level-3 {
  color: $mediumgray;
  font-family: $main-font;
}
