<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>

  <a class="nav-link" routerLink="/" [ngSwitch]="isSideBySide">
    <span *ngSwitchCase="true"></span>
  </a>

  <div class="flex-spacer"></div>
</mat-toolbar>

<div class="sidenav">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      class="sidenav"
      [opened]="isOpened$ | async"
      [mode]="mode"
    >
      <eamx-nav-menu
        class="nav-menu"
        [nodes]="sideNavNodes$ | async"
        [currentNode]="currentSideNavNode$ | async"
      ></eamx-nav-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet class="root-router-outlet" #o="outlet"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
