body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: mat-font-family($app-typography);
}

button {
  font-family: mat-font-family($app-typography);
}

a {
  text-decoration: none;
}

.app-toolbar a,
.app-toolbar .nav-title {
  font-size: 16px;
}

.app-toolbar .nav-sub-title {
  font-size: 14px;
  font-weight: 400;
}
